# ID de cliente de la API de Strava
STRAVA_CLIENT_ID=tu_client_id_aqui

# Secreto de cliente de la API de Strava
STRAVA_CLIENT_SECRET=tu_client_secret_aqui

# URI de redirección autorizada en la configuración de la API de Strava
STRAVA_REDIRECT_URI=http://localhost:3000/api/auth/callback

# URL base del frontend (ej. https://strava.matarranzdev.es en producción, http://localhost:5173 en local)
FRONTEND_URL=http://localhost:5173

# ID de cliente de la API de Withings
WITHINGS_CLIENT_ID=tu_withings_client_id_aqui

# Secreto de cliente de la API de Withings
WITHINGS_CLIENT_SECRET=tu_withings_client_secret_aqui

# URI de redirección autorizada en la configuración de la API de Withings
# (ej. https://strava.matarranzdev.es/api/withings/auth/callback en producción o http://localhost:3000/api/withings/auth/callback en local)
WITHINGS_REDIRECT_URI=http://localhost:3000/api/withings/auth/callback
